<div class="container text-center">
  <div class="col-sm-6 col-sm-offset-3 box">
    <p>Tâche : <%= @task.name %></p>
    <p>Done ? <%= @task.done %></p>

    <p><%= link_to "Your Tasks", root_path %></p>
  </div>
</div>
